h1 { 
  color: red; 
  text-align: center;
}

.green-text {
  color: lightgreen;
}

.blue-text {
  color: blue;
}

.pink-text {
  color: deeppink;
}

.caption {
  text-align: center;
  font-style: italic;
}

.main-photo, 
.stadium-photo, 
.bjk-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.bjk-photo {
  width: 30%;
}